<launch>

    <!-- 底盘 -->
    <include file="$(find xpkg_bringup)/bringup_vehicle/launch/bringup_basic_ctrl.launch"/>

    <!-- 雷达 -->
    <include file="$(find bluesea2)/launch/lidar_e300_zhuoer.launch"/>

    <!-- imu -->
    <include file="$(find handsfree_ros_imu)/launch/zhuoer_imu.launch"/>

    <!--参数配置-->
    <!--是否为630机型-->
    <arg name="630" value="true"/>
    <!--是否启用防跌落传感器-->
    <arg name="cliff_detect" default="true"/>
    <!--是否启用扶梯防跌落传感器-->
    <arg name="blob_detect" default="true"/>
    <!--是否启用网口雷达，如果启用网口雷达，需要将这个参数改成true，下面的参数改成false-->
    <arg name="use_s2e" default="false"/>
    <!--是否启用串口雷达，如果启用串口雷达，需要将这个参数改成true，上面的参数改成false-->
    <arg name="use_s2" default="true"/>

    <rosparam file="$(find app_communication)/params/robot_basic_params.yaml" command="load"/>

    <rosparam file="$(find data_base)/config/param_app.yaml" command="load"/>

    <!--轮式里程计与imu融合-->
    <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch"/>

    <!--启动跌落检测节点-->
    <include if="$(arg cliff_detect)" file="$(find dimage_to_pointcloud)/launch/cliff_detect.launch"/>

    <!--启动配置速度优先级节点-->
    <include file="$(find yocs_cmd_vel_mux)/launch/start_all_cmd_control.launch"/>

    <!--位置，地图与里程计管理节点-->
    <include file="$(find robot_pose_manager)/launch/map_manager.launch"/>

    <!--启动钝角识别节点-->
    <include file="$(find back_charge)/launch/recognize_station.launch"/>

    <!--启动进站节点-->
    <include file="$(find back_charge)/launch/back_charge.launch"/>

    <!--启动短程导航节点-->
    <include file="$(find back_charge)/launch/core_move.launch"/>

    <!--启动点云合成节点-->
    <include file="$(find pointcloud_concatenate)/launch/concat.launch">
        <arg name="target_frame" value="base_link"/>
        <arg name="clouds" value="2"/>
        <arg name="cloud_in1" value="/2/depth/depth2pc"/>
        <arg name="cloud_in2" value="/1/depth/depth2pc"/>
        <arg name="cloud_out" value="cloud_concatenated"/>
        <arg name="hz" value="5"/>
    </include>

    <!--启动cartographer管理节点-->
    <include file="$(find cartographer_ros)/launch/bringup_cartographer.launch"/>


    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
          output="screen" args="-resolution 0.05"/>

    <!--启动建图节点-->
    <include file="$(find map_server)/launch/bringup_map_server.launch.launch"/>

    <!--启动导航节点-->
    <include file="$(find move_base)/launch/move_base.launch.launch"/>

    <!--启动图传节点-->
    <include file="$(find robot_pose_manager)/launch/navsat_manager.launch"/>

    <!--启动pad通讯节点-->
    <include file="$(find app_communication)/launch/app_communication.launch"/>

</launch>