<launch>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" 
       args="0.0 0.0 0.2 1.5707963 0 3.1415926 base_link laser_link 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link"
        args="0.154 0 0.15 0 0 0 base_link imu_link 100" />

</launch>