<launch>			

    <include file="$(find xpkg_bringup)/bringup_vehicle/launch/bringup_basic_ctrl.launch" /> 
    
    <include file="$(find bluesea2)/launch/lidar_e300_zhuoer.launch" /> 
    
    <include file="$(find handsfree_ros_imu)/launch/zhuoer_imu.launch" /> 
    
    
    <!--硬件连接-->
    <include file="$(find launch_center)/launch/sensor/start_all_sensor.launch" />
    
    <!--位置，地图与里程计管理节点-->
    <include file="$(find robot_pose_manager)/launch/map_manager.launch" />

    <!--启动钝角识别节点-->
    <include file="$(find back_charge)/launch/recognize_station.launch" />

    <!--启动进站节点-->
    <include file="$(find back_charge)/launch/back_charge.launch" />

    <!--启动短程导航节点-->
    <include file="$(find back_charge)/launch/core_move.launch" />

    <!--启动点云合成节点-->
    <include file="$(find launch_center)/launch/pointcloud_concatenate.launch" />

    <!--启动pad通讯节点-->
    <include file="$(find launch_center)/launch/app_communication.launch" />   

    <!--启动云端通信节点-->
    <include file="$(find bp_robot_service)/launch/bp_robot_service.launch" />

    <!--启动进程管理节点-->
    <include file="$(find launch_center)/launch/node_controller.launch"/>

    <!--启动cartographer管理节点-->
    <include file="$(find launch_center)/launch/cartographer.launch"/>

    <!--启动建图节点-->
    <include file="$(find launch_center)/launch/submap_to_map.launch"/>

    <!--启动发布地图节点-->
    <include file="$(find launch_center)/launch/load_map.launch"/>

    <!--启动save地图节点-->
    <include file="$(find launch_center)/launch/save_map.launch"/>

    <!--启动导航节点-->
    <include file="$(find launch_center)/launch/navigation.launch"/>

    <!--启动图传节点-->
    <include file="$(find robot_pose_manager)/launch/navsat_manager.launch"/>
</launch>
