<launch>

    <!--启动相机-->
    <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->

    <!-- 在ROS的launch文件中添加 -->
    <node pkg="tf" type="static_transform_publisher" name="camera_to_base_link_broadcaster"
        args="0 0 0.15 1.5708 -1.5708 0 base_link camera_link 100" />

    <!--start orbbec camera -->
    <include file="$(find orbbec_camera)/launch/dabai_dcw2.launch"/>

    <arg name="launch_prefix" default=""/>
    <arg name="node_namespace" default="apriltag_ros_continuous_node"/>
    <!-- 相机参数 -->
    <!-- <arg name="camera_name" default="/usb_cam"/>
    <arg name="image_topic" default="image_raw"/> -->
    <arg name="camera_name" default="/camera/color"/>
    <arg name="image_topic" default="image_raw"/>

    <!-- 加载参数 -->
    <rosparam command="load" file="$(find app_communication)/config/settings.yaml" ns="$(arg node_namespace)"/>
    <rosparam command="load" file="$(find app_communication)/config/tags.yaml" ns="$(arg node_namespace)"/>

    <!-- 启动 apriltag_ros 节点 -->
    <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true"
          output="screen">
        <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)"/>
        <remap from="camera_info" to="$(arg camera_name)/camera_info"/>
        <param name="publish_tag_detections_image" type="bool" value="true"/>
    </node>

</launch>
