<launch>

    <!--参数配置-->
    <!--是否为630机型-->
    <arg name="630" value="true"/>
    <!--是否启用防跌落传感器-->
    <arg name="cliff_detect" default="true"/>
    <!--是否启用扶梯防跌落传感器-->
    <arg name="blob_detect" default="true"/>
    <!--是否启用网口雷达，如果启用网口雷达，需要将这个参数改成true，下面的参数改成false-->
    <arg name="use_s2e" default="false"/>
    <!--是否启用串口雷达，如果启用串口雷达，需要将这个参数改成true，上面的参数改成false-->
    <arg name="use_s2" default="true"/>

    <rosparam file="$(find app_communication)/params/robot_basic_params.yaml" command="load"/>

    <rosparam file="$(find data_base)/config/param_app.yaml" command="load"/>

</launch>